language: python
python:
- 3.8
- 3.7
- 3.6
- 3.5
install: pip install -U tox-travis
script: tox
deploy:
  provider: pypi
  distributions: sdist bdist_wheel
  user: __token__
  password:
    secure: ATounaQKT2DnFxgM+R93SYQfkGNGQO5iiKd96Zi7dHsiK8xQoX2pEiSOAWeu70JgQVLxWhJKcpz5ma/ubq4wJ9ULpFpmViR8HElBzqFxVjgy+MLpb06rdn5nzE2JqjpDUm8sTCiO5D4bZEsZp60MnaeiqOjUcK0a+5V7nRN7K4sFMetcLfThow1DWuWZCOLdjjATNpKL/dg1dqET0EDQf9k3F7ZZVGVHTOOPXmTuIYswiz2YuPcPtdJVeR/BQmZ8EslqoOpuLslW/fgQVtGKQ690Mr+0XHsWuSZJVfmAT2lunyplx1MY2cR4UpFANACUzrafkRIB+Yq4V9go39nYf7qBjQyP/hfUWsZQ1WEp2i5cfK9kTS/b2xdlNfEW5FUwWNPxh2C6W7oEC8h6W4Era4GZrI3AmllCQ+Fx0QKjM6Goj1ULpALcG9egEPKd2d1PHbHpzIimr545crKbnFEm4V8UxNZ+0ft1yWIUpK14hMO9xGi35fpKTjdDj6GrFR9RZD8eNEEg9LLxzjVPtGjxnQy/S1J22gNt0exMb+x6t0bT7c8o7ynlZl2/219csVkRzYZ8e/1CXys5c9C25V0M5544g55FVPGOaIyowFeDYyFvOSncq68Lktc+m/WnmIVjbASkLxNne7FXKGNwLDjG4sDWBNG7+9ErVZwfIcdDr1k=
  on:
    tags: true
    repo: aced125/protoattend
    python: 3.8
